
<!-- <div class="card flex flex-wrap justify-content-center gap-2">
  <p-sidebar [(visible)]="sidebarVisible1" position="left">
    <h3>Sacar Turno</h3>
  </p-sidebar>
</div>
<div class="card flex flex-wrap justify-content-center gap-2">
  <p-sidebar [(visible)]="sidebarVisible2" position="left">
    <h3>MatchMaking</h3>
  </p-sidebar>
</div> -->
<div class="centered-container">
  <p-card class="scrollable-card" header="Sacar un Turno" subheader="Recuerda ver antes la disponibilidad de canchas" [style]="{ width: '360px'}">
    <ng-template pTemplate="header">
      <img alt="Card" src="../../../assets/images/imgCard.jpg" />
    </ng-template>
    <ng-template pTemplate="footer">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <p-button label="Haz Click Aquí" (click)="irAPopup()" styleClass="p-button-outlined p-button-help"></p-button>
    </ng-template>
    <!-- <p-sidebar [(visible)]="sidebarVisible1" position="left">
      <h1>Sacar Turno</h1>
    </p-sidebar> -->
  </p-card>

  <p-card class="scrollable-card" header="Match Making" subheader="Ingresa para ver Encontrar un partido" [style]="{ width: '360px' }">
    <ng-template pTemplate="header">
      <img alt="Card" src="../../../assets/images/matchmaking img.avif" />
    </ng-template>
    <p>
      El sistema de MatchMaking sirve para buscar algún partido incompleto y ingresar allí, también ingresas en lista de Espera hasta que encuentres un partido
    </p>
    <ng-template pTemplate="footer">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <p-button label="Haz Click Aquí" (click)="irAMatch()" styleClass="p-button-outlined p-button-danger"></p-button>
    </ng-template>
    <!-- <p-sidebar [(visible)]="sidebarVisible2" position="left">
      <h1>MatchMaking</h1>
    </p-sidebar> -->
  </p-card>
</div>


