<!-- <div class="bodyDash"> -->

<div style="">
  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="nav-link active" href="dashboard"><img src="../../../assets/images/logo-65x48.png" alt="">
        <span class="visually-hidden">(current)</span>
      </a>&nbsp;
      <a class="navbar-brand">Cancha Up!</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">

          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li> -->

          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="" role="button" aria-haspopup="true"
              aria-expanded="false">Partido</a>
            <div class="dropdown-menu ">
              <a class="dropdown-item" href="">Crear Partido</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Sacar Turno</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Ver Partidos</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Buscar Partido </a>
              <a class="dropdown-item" href="#">Buscar Partido por Representante</a>
              <a class="dropdown-item" href="#">Buscar Partido por Estado</a>
            </div>
          </li>

          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">Jugador</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="">Crear Jugador</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Buscar Jugador</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">ver Jugadores</a>

            </div>

          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">Encargado</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="">Crear Encargado</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Buscar Encargado</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">ver Encargados</a>

            </div>

          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">Reportes</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="">Generar Reporte Jugador PDF</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Generar Reporte Partidos PDF</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Generar Reporte Partidos PDF</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Generar Reporte Partidos PDF</a>

            </div>

          </li>

        </ul>

        <form class="d-flex">
          <button type="button" class="btn btn-info" type="submit">Mi Usuario</button>
          &nbsp;&nbsp;
          <button class="btn btn-danger my-2 my-sm-0" type="submit" (click)="salir()">Salir</button>
          <!-- <button type="button" class="btn btn-outline-danger">Danger</button> -->
        </form>
      </div>
    </div>
  </nav>
  <img src="../../../assets/images/dashboradimg.jpeg" alt="" style=" width: 100%;height: auto;">




</div>