<body>
  <div class="container">
    <button (click)="irAMatch()" class="btnVolver">
      <div class="text">Volver</div>
    </button>
    <label class="titulo">Tu Equipo</label>
    <button class="delete-team">Eliminar Equipo</button>

    <div class="middle-text">Edita tu equipo</div>
    <hr class="line" />

    <button class="delete-player">Eliminar Jugador</button>
    <input
      type="text"
      placeholder="Número de Teléfono a Eliminar"
      id="phoneToDelete"
    />

    <button class="add-player">Agregar Jugador</button>
    <input
      type="text"
      placeholder="Número de Teléfono del Nuevo Jugador"
      id="phoneToAdd"
    />
    <hr class="line" />
    <h2>Lista de Jugadores</h2>
    <!-- equipo.component.html -->

    <table class="players-table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Teléfono</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="equipos.length > 0">
          <tr *ngFor="let equipo of equipos">
            <td>{{ obtenerNombreRepresentante(equipo) || 'N/A' }}</td>
            <td>{{ obtenerApellidoRepresentante(equipo) || 'N/A' }}</td>
            <td>{{ obtenerTelefonoRepresentante(equipo) || 'N/A' }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    
    
    
    

    
    
    
    
    

  </div>
</body>
