<div class="card">
    <div class="card-header">
        <h2>Mi Equipo</h2>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Telefono</th>
                    <th>Mail</th>
                    <th>Pass</th>
                    <th>Usuario</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let jugador of equipos">
                    <td>{{ jugador.nombre }}</td>
                    <td>{{ jugador.apellido }}</td>
                    <td>{{ jugador.telefono }}</td>
                    <td>{{ jugador.mail }}</td>
                    <td>{{ jugador.password }}</td>
                    <td>{{ jugador.username }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>