/* Estilo para el contenedor de la tarjeta */
.card {
    width: 100%;
    max-width: 800px; /* Ancho máximo de la tarjeta */
    margin: 0 auto; /* Centrar la tarjeta en el contenedor principal */
    border: 1px solid #e0e0e0; /* Borde ligero */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ligera */
  }
  
  /* Estilo para el encabezado de la tarjeta */
  .card-header {
    background-color: #007BFF; /* Fondo azul */
    color: #fff; /* Texto blanco */
    padding: 10px;
    border-top-left-radius: 10px; /* Redondear la esquina superior izquierda */
    border-top-right-radius: 10px; /* Redondear la esquina superior derecha */
  }
  
  /* Estilo para el título dentro del encabezado */
  .card-header h2 {
    font-size: 24px;
    margin: 0;
  }
  
  /* Estilo para el cuerpo de la tarjeta */
  .card-body {
    padding: 20px;
  }
  
  /* Estilo para la tabla dentro del cuerpo de la tarjeta */
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Estilo para las filas impares de la tabla */
  .table tbody tr:nth-child(odd) {
    background-color: #f5f5f5; /* Fondo gris claro para filas impares */
  }
  
  /* Estilo para las celdas de la tabla */
  .table td, .table th {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
  }
  
  /* Estilo para el borde inferior de la última fila */
  .table tbody tr:last-child td {
    border-bottom: 1px solid #e0e0e0;
  }