<div class="background-container">
  <div class="centered-container">
    <button (click)="volver()" class="bn632-hover bn25">volver</button>

    <p-card class="scrollable-card clickable-card" header="Match Individual"
      subheader="Soy un Jugador y quiero encontrar a mi equipo">
      <ng-template pTemplate="header">
        <img class="miImagen" alt="Card" src="../../../../assets/images/individualMatch.jpg" loading="lazy" />
      </ng-template>
    </p-card>

    <p-card class="scrollable-card clickable-card" header="Match Grupal"
      subheader="Tengo a mi equipo y quiero competir con otro">
      <ng-template pTemplate="header">
        <img class="miImagen" alt="Card" src="../../../../assets/images/grupalMatch.jpg" loading="lazy" />
      </ng-template>
    </p-card>

    <p-card class="scrollable-card clickable-card" header="Mi Equipo" subheader="Ver y agregar jugadores a mi Equipo"
      (click)="equipos()">
      <ng-template pTemplate="header">
        <img class="miImagen" alt="Card" src="../../../../assets/images/futbol-equipo.webp" loading="lazy" />
      </ng-template>
    </p-card>
  </div>
</div>
