.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150vh;


    background-image: url('../../../../assets/images/dashboradimg.jpeg'); /* Reemplaza 'ruta-de-tu-imagen.jpg' con la URL de tu imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para que cubra todo el contenedor */
    background-position: center center; /* Ajusta la posición de la imagen de fondo */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    
  }
 
  .scrollable-card {
    max-height: 80vh; /* Altura máxima del p-card, ajusta según tus necesidades */
    overflow: auto; /* Habilita el desplazamiento cuando el contenido excede la altura máxima */
    border: 1px solid #ffffff; /* Puedes ajustar el color y el grosor del borde */
    border-radius: 5px; /* Puedes ajustar el radio de borde para esquinas redondeadas */
    padding: 10px; /* Agregar espacio entre el borde y el contenido del p-card */
   
    animation: bounceInUp; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
      
}