<div class="centered-container">
    <p-card class="scrollable-card" header="Match Individual" subheader="Soy un Jugador y quiero encontrar a mi equipo" [style]="{ width: '360px'}">
      <ng-template pTemplate="header">
        <img alt="Card" src="../../../../assets/images/individualMatch.jpg" loading="lazy"/>
      </ng-template>
      <ng-template pTemplate="footer">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <p-button label="Haz Click Aquí" (click)="sidebarVisible1 = true" styleClass="p-button-outlined p-button-help"></p-button>
      </ng-template>
      <p-sidebar [(visible)]="sidebarVisible1" position="left">
        <h1>Soy un Jugador y quiero encontrar a mi equipo</h1>
      </p-sidebar>
    </p-card>
  
    <p-card class="scrollable-card" header="Match Grupal" subheader="Tengo a mi equipo y quiero competir con otro" [style]="{ width: '360px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="../../../../assets/images/grupalMatch.jpg" loading="lazy" />
      </ng-template>
      <p>
       EXPLICACION 
      </p>
      <ng-template pTemplate="footer">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <p-button label="Haz Click Aquí" (click)="sidebarVisible2 = true" styleClass="p-button-outlined p-button-danger"></p-button>
      </ng-template>
      <p-sidebar [(visible)]="sidebarVisible2" position="left">
        <h1>MatchMaking</h1>
      </p-sidebar>
    </p-card>


    <p-card class="scrollable-card" header="Mi Equipo" subheader="Ver y agregar jugadores a mi Equipo" [style]="{ width: '360px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="../../../../assets/images/futbol-equipo.webp" loading="lazy" />
      </ng-template>
     
      <ng-template pTemplate="footer">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <p-button label="Haz Click Aquí" (click)="equipos()" styleClass="p-button-outlined p-button-success"></p-button>
      </ng-template>
    
    </p-card>

    <button (click)="volver()" class="bn632-hover bn25">volver</button>
  </div>
  
  