      <nav class="miNav">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
        
      <ul  id="navigation">
        <li><a href="/partidos" class="btn active">Partidos</a>
        </li>
        <li><a href="/encargados" class="btn">Encargados</a></li>
        <li><a href="/verJugadores" class="btn">Jugadores</a></li>
        <li><a class="btn">Reportes</a></li>
        <li><a href="/loginEncargado" class="btnExit">Cerrar Sesión</a></li>
      </ul>
    </nav>

  <main>
    <section id="home">
      <h1 class="ml3" >¡Bienvenido a Cancha UP!</h1>


      <!-- <h1><span style="color:rgb(30, 67, 79);font-size:20px;">⚽ ¡Bienvenido a Cancha UP! ⚽</span></h1> -->
      <!-- <div class="credit">Made with <span style="color:tomato;font-size:20px;">❤</span> by <a  href="https://www.learningrobo.com/">Learning Robo</a></div> -->
    </section>
   
  <script type="text/javascript" src="script.js"></script>

  </main>
<!-- <div class="card">
  <p-tabMenu [model]="items"></p-tabMenu>
</div> -->
