
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: #000;
    position: fixed;
    color: #030202;
    padding: 0 20px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a.logo {
    color: #000000;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 60px;
    cursor: pointer;
    font-family: cursive;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}

nav ul li {
    line-height: 60px;
    margin: 0 5px;
}

nav ul a {
    color: #000000;
    font-size: 18px;
    padding: 5px 13px;
    text-transform: uppercase;
    border-radius: 4px;
    transition: .4s;
}

.active,nav ul a:hover {
    background: #71b6c2;
    padding: 10px;
    color: #ffffff;
}
.btnExit{
    background: #db5f5f;
    padding: 10px;
    color: #ffffff;
}
main {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px;
    font-size: 40px;
}

section#home {
    background: url("../../../assets/images/dashboard-admin.jpg");
    /* background: url("https://cdn.pixabay.com/photo/2016/05/24/16/48/mountains-1412683__340.png"); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #12192c;
}





.checkbtn {
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.credit a {
    text-decoration: none;
    color: crimson;
    font-weight: 800;
}

.credit {
    text-align: center;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    color: #060505;
    font-size: 15px;
    padding-top: 500px;
    position: fixed;
}


.ml3 {
    font-weight: 900;
    font-size: 1.5em;
    color: #ffffff;
  }
  .miNav{
    color: #000;
  }