<!-- jugador-lista.component.html -->

<div class="mybotton">
  <br>
  <button (click)="navegar()" class="bn632-hover bn27">Volver a Home</button>
</div>
<div class="row">
  <!-- FORM -->
  <div class="col-md-3">
    <div class="card">
      <div class="card-body p-4">
        <!-- FORM -->
        <form #jugadorForm="ngForm" (ngSubmit)="crearJugador(jugadorForm)">
          <h1 class="titulo-bonito">Crear Jugadores</h1>
          <br>

          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input required type="text" id="nombre" name="nombre" [(ngModel)]="nuevoJugador.nombre"
              placeholder="Ingrese su nombre" class="form-control">
          </div>

          <div class="form-group">
            <label for="apellido">Apellido:</label>
            <input required type="text" id="apellido" name="apellido" [(ngModel)]="nuevoJugador.apellido"
              placeholder="Ingrese su apellido" class="form-control">
          </div>

          <div class="form-group">
            <label for="telefono">Teléfono:</label>
            <input required type="text" id="telefono" name="telefono" [(ngModel)]="nuevoJugador.telefono"
              placeholder="Ingrese su teléfono" class="form-control">
          </div>

          <div class="form-group">
            <label for="mail">Correo Electrónico:</label>
            <input required type="text" id="mail" name="mail" [(ngModel)]="nuevoJugador.mail"
              placeholder="Ingrese su correo electrónico" class="form-control">
          </div>


          <div class="form-group">
            <label for="password">Contraseña:</label>
            <input required type="password" id="password" name="password" [(ngModel)]="nuevoJugador.password"
              placeholder="Ingrese su contraseña" class="form-control">
          </div>

          <div class="form-group">
            <label for="fechaNacimiento">Fecha de Nacimiento (YYYY-MM-DD):</label>
            <input required type="date" id="fechaNacimiento" name="fechaNacimiento"
              [(ngModel)]="nuevoJugador.fechaDeNacimiento" placeholder="Ingrese su fecha de nacimiento"
              class="form-control">
          </div>

          <!-- Otros campos del formulario según tu estructura -->

          <button type="submit" class="bn6">Guardar</button>
        </form>

      </div>
    </div>
  </div>



  <!-- Buscar Jugador -->
  <div class="col-md-3">
    <div class="card">
      <div class="card-body p-4">
        <h1 class="titulo-bonito">Buscar Jugador</h1>
        <br>
        <span class="p-input-icon-left">
          <input required type="text" [(ngModel)]="telefonoFiltrado" placeholder="Ingrese Nro de Telefono" pInputText />
          &nbsp;&nbsp;
          <button type="button" class="btn btn-secondary"
            (click)="buscarJugadorPorTelefono(telefonoFiltrado)">Buscar</button>
        </span>
      </div>
    </div>
  </div>

  <h1> &nbsp; </h1>
  <h1> &nbsp; </h1>

  <!-- TABLE -->
  <table mat-table [dataSource]="jugadores" class="tabla-estilo" matSort matPaginator #paginator>
    <ng-container *ngFor="let columna of ['nombre', 'apellido', 'telefono', 'mail', 'pass']" [matColumnDef]="columna">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ columna | titlecase }}</th>
      <td mat-cell *matCellDef="let jugador">{{ jugador[columna] }}</td>
    </ng-container>
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let jugador">
        <button (click)="eliminarJugador(jugador.$$instanceId)" class="btn btn-danger btn-sm">
          <i class="material-icons">delete</i>
        </button>


        <button type="button" class="btn btn-outline-info" (click)="openEditDialog(jugador)">Ver</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['nombre', 'apellido', 'telefono', 'mail', 'pass', 'acciones']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['nombre', 'apellido', 'telefono', 'mail', 'pass', 'acciones']"></tr>
  </table>
  <div class="paginator-container">
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>