<!-- jugador-lista.component.html -->

<div class="mybotton">
  <br>
  <button (click)="navegar()" class="bn632-hover bn27">Volver a Home</button>
</div>

<div class="row">
  <!-- FORM -->
  <div class="col-md-3">
    <div class="card">
      <div class="card-body p-4">
        <!-- FORM -->
        <form #jugadorForm="ngForm" (ngSubmit)="agregarJugadorLocal(jugadorForm)">
          <h1 class="titulo-bonito">Crear Jugadores</h1>
          <br>
          <div class="form-group">
            <input required type="text" name="nombre" style="width: 250px;" #name="ngModel" [(ngModel)]="nuevoJugador.nombre"
              placeholder="Ingrese su nombre" class="form-control">
          </div>
          <br>
          <div class="form-group">
            <input required type="text" name="apellido" style="width: 250px;" #name="ngModel" [(ngModel)]="nuevoJugador.apellido"
              placeholder="Ingrese su apellido" class="form-control">
          </div>
          <br>
          <div class="form-group">
            <input required type="text" name="telefono" style="width: 250px;" #name="ngModel" [(ngModel)]="nuevoJugador.telefono"
              placeholder="Ingrese su teléfono" class="form-control">
          </div>
          <br>
          <div class="form-group">
            <input required type="text" name="mail" style="width: 250px;" #name="ngModel" [(ngModel)]="nuevoJugador.mail"
              placeholder="Ingrese su correo electrónico" class="form-control">
          </div>
          <br>
          <div class="form-group">
            <input required type="password" name="password" style="width: 250px;" #name="ngModel" [(ngModel)]="nuevoJugador.password"
              placeholder="Ingrese su contraseña" class="form-control">
          </div>
          <br>
          <div class="form-group">
            <input required type="text" name="fechaDeNacimientoString" style="width: 250px;" #name="ngModel"
              [(ngModel)]="nuevoJugador.fechaDeNacimientoString" placeholder="Ingrese su fecha de nacimiento (YYYY-MM-DD)"
              class="form-control">
          </div>
          <br>
          <!-- Otros campos del formulario según tu estructura -->

          <button type="submit" class="bn6">Guardar</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Buscar Jugador -->
  <div class="col-md-3">
    <div class="card">
      <div class="card-body p-4">
        <h1 class="titulo-bonito">Buscar Jugador</h1>
        <br>
        <span class="p-input-icon-left">
          <input required type="text" [(ngModel)]="telefonoFiltrado" placeholder="Ingrese Nro de Telefono" pInputText />
          &nbsp;&nbsp;
          <button type="button" class="btn btn-secondary"
            (click)="buscarJugadorPorTelefono(telefonoFiltrado)">Buscar</button>
        </span>
      </div>
    </div>
  </div>

  <h1> &nbsp; </h1>
  <h1> &nbsp; </h1>

  <!-- TABLE -->
  <div class="tabla-container">
    <table mat-table [dataSource]="jugadores" class="tabla-estilo" matSort matSortActive="nombre" matSortDirection="asc" matPaginator #paginator>

      <thead>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Telefono</th>
        <th>mail</th>
        <th>pass</th>
        <th>user</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let jugador of jugadores">
          <td>{{ jugador.nombre }}</td>
          <td>{{ jugador.apellido }}</td>
          <td>{{ jugador.telefono }}</td>
          <td>{{ jugador.mail }}</td>
          <td>{{ jugador.password }}</td>
          <td>{{ jugador.username }}</td>
          <td>
            <a (click)="eliminarJugadorLocal(jugador?.id)" class="btn btn-danger btn-sm">
              <i class="material-icons">delete</i>
            </a>
            <a>
              &nbsp;&nbsp;<button type="button" class="btn btn-outline-info" (click)="openEditDialog(jugador)">Ver</button>
            </a>
          </td>
          
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="7"> <!-- Colspan igual al número de columnas en tu tabla -->
            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </td>
        </tr>
      </tfoot>

    </table>
    
  </div>
