body {
  background-image: url('../../../assets/images/sun-tornado2.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.titulo-bonito {
    font-family: 'Arial', sans-serif;
   
    font-size: 2rem;
   
    color: #175eaa80;
   
    text-transform: uppercase;
   
    text-shadow: 0 0 2px rgba(27, 27, 27, 0.5);
   
}



.bn6 {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #4f504f;
    padding: 0.3em 1.2em;
    border-radius: 30px;
    font-size: 1.3rem;
    font-weight: 550;
    color: #ffffff;
    background-size: 100% 100%;
    box-shadow: 0 0 0 4px #466978 inset;
    text-decoration: none;
}

.bn6:hover {
    background-image: linear-gradient(55deg,
            transparent 10%,
            #161616 10% 20%,
            transparent 20% 30%,
            #161616 30% 40%,
            transparent 40% 50%,
            #161616 50% 60%,
            transparent 60% 70%,
            #161616 70% 80%,
            transparent 80% 90%,
            #161616 90% 100%);
    animation: background 3s linear infinite;
}

.tabla-estilo {
 
 
    padding: 10px;
    font-size: 19px;   
    line-height: 1.5;
    background: #e0e0e0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  
    padding: 5px;
   
    font-size: 16px;
   
    line-height: 1.5;

   
   
    box-shadow: 0 4px 6px rgba(255, 0, 0, 0.1);
    overflow: hidden;
   
   
}

.tabla-estilo th,
.tabla-estilo td {
  padding: 15px;
  font-size: 25px;
  text-align: center;
  color: #464c43;
  border: none;
  
   
   
}

.tabla-estilo th {
    background-color: #346369;
    font-size: 25px;
   
    color: #d9d8d8;
   
}

.tabla-estilo tr:hover {
    background-color: rgb(142, 192, 198);

   
    cursor: pointer;
   
}

.tabla-estilo tr.selected {
    background-color: #d9d322;
   
    color: #333;
   
}


/* Nuevas reglas CSS para redondear las esquinas de la tabla */
.tabla-estilo-wrapper {
    border-radius: 10px;
    overflow: hidden;

}




.card {
    box-shadow: 10px 22px 50px #123aff80;
   
    border: 20px solid rgba(255, 255, 255, 0.5);
    margin-left: 60px; 
    margin-top: 15px;
   
}

.mybotton {
    margin-left: 1150px;
}



  .boton-personalizado {
    background-color: #346369;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer;
    font-size: 16px;
  
  }
  
  .boton-personalizado:hover {
    background-color: #234855;

  }

  .boton-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn23 {
    background-image: linear-gradient(
      to right,
      #009245,
      #fcee21,
      #00a8c5,
      #d9e021
    );
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
  }

 
  /* @media (max-width: 768px) {

    .mybotton {
      margin-left: 115px;
  }
    .titulo-bonito {
      
      font-size: 1.5rem;
    }
  
    .card {
      margin: 10px;
      padding: 10px;
    }
  
    .card-body {
      padding: 0.5rem;
    }
  
    .form-group {
      width: 100%;
    }
  
    .bn6 {
      font-size: 1rem;
    }
  

    .tabla-estilo th {
      font-size: 1rem;
    }
  
    .tabla-estilo td {
      font-size: 0.9rem;
    }

    body {
      background-size: 100% 100%;
     
  }
  } */

  .boton-rechazar {
    background-color: red;
    color: white;
}

.boton-confirmar {
    background-color: green;
    color: white;
}

.boton-dar-de-baja {
    background-color: orange;
    color: white;
}

.boton-completar {
    background-color: blue;
    color: white;
}
