<div class="row">
  <!-- FORM -->
  <div class="col-md-3" style="margin-left: 20px; margin-top: 20px;">
    <div class="card">
      <div class="card-body p-4">
        <!-- FORM -->
        <form #partidoForm="ngForm" (ngSubmit)="agregarPartido(partidoForm)" style="margin-left: 45px;">
          <h1>Crear Partido</h1>
          <br>
          <input type="hidden" name="id" #id="ngModel" [(ngModel)]="partido.id">
          <br>
          <div class="form-group" style="width: 250px;">

            <!-- <input class="form-select" type="select" name="horario" #horario="ngModel" [(ngModel)]="partido.horario"
                placeholder="Ingrese el horario" class="form-control">
            <select class="form-select" aria-label="Default select example"></select> -->
            <span style="color: rgb(36, 108, 47);">Elige tu Horario</span>
            <select class="form-select" formControlName="horario" [(ngModel)]="partido.horario" >
              <option [ngValue]="null" disabled>Horario</option>
              <option *ngFor="let partido of partidoService.partidos" [ngValue]="partidoService.partidos">
               {{ partidoService.partidos }}
              </option>
            </select> 
          </div>

          <br>
          <div class="form-group" style="width: 250px;">
            <input type="date" name="dia" #dia="ngModel" [(ngModel)]="partido.dia" placeholder="Seleccione la fecha"
              class="form-control">
          </div>
          <br>
          <div class="form-group" style="width: 250px;">
            <input type="text" name="telefono" #telefono="ngModel" [(ngModel)]="partido.telefono"
              placeholder="Ingrese el teléfono" class="form-control">
          </div>
          <br>
          <div class="form-group" style="width: 250px;">
            <input type="text" name="precio" #precio="ngModel" [(ngModel)]="partido.precio"
              placeholder="Ingrese el precio" class="form-control">
          </div>
          <br>
          <button class="btn btn-success">Guardar</button>&nbsp;
          <button class="btn btn-danger mr-2" (click)="resetForm(partidoForm)">Borrar</button>
        </form>
      </div>
    </div>
  </div>

  <!-- TABLE -->
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <th>Horario</th>
        <th>Día</th>
        <th>Teléfono</th>
        <th>Precio</th>
        <th>Acciones</th>
      </thead>
      <tbody>
        <tr *ngFor="let partido of partidoService.partidos">
          <td>{{ partido.horario }}</td>
          <td>{{ partido.dia | date:'shortDate' }}</td>
          <td>{{ partido.telefono }}</td>
          <td>{{ partido.precio }}</td>
          <td>
            <!-- <a (click)="editarPartido(partido)" class="btn btn-secondary btn-sm">
                <i class="material-icons">edit</i>
              </a> -->
            <br>
            <a (click)="borrarPartido(partido.id,partidoForm)" class="btn btn-danger btn-sm">
              <i class="material-icons">delete</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>