* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%; /* Establece la altura al 100% */
  width: 100%;
  background-image: url("../../../assets/images/pasto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fija la imagen de fondo */
  background-position-x: center;
}

.row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.contenedor-card {
  max-width: 380px;
}

.contenedor-tabla {
  border-radius: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 0vh;
}

.bn6 {
  --color: #560bad;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
}

.bn6:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.bn6:hover {
  color: #fff;
}

.bn6:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.bn6:hover:before {
  top: -30px;
  left: -30px;
}

.bn6:active:before {
  background: #3a0ca3;
  transition: background 0s;
}

.btn {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  background: #040f16;
  color: #f5f5f5;
}

.btn:hover {
  box-shadow: 0 0 20px 0px #2e2e2e3a;
}

.btn .icon {
  position: absolute;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.btn .text {
  transform: translateX(55px);
}

.btn:hover .icon {
  width: 175px;
}

.btn:hover .text {
  transition: all 0.5s;
  opacity: 0;
}

.btn:focus {
  outline: none;
}

.btn:active .icon {
  transform: scale(0.85);
}

.tabla-estilo {
  border: #1b2631 solid;
  font-size: 19px;
  line-height: 1.5;
  background: #e0e0e0;
  overflow: hidden;
}

.tabla-estilo th,
.tabla-estilo td {
  font-size: 25px;
  text-align: center;
  color: #464c43;
  border: none;
}

.tabla-estilo th {
  background-color: #1b2631;
  font-size: 25px;
  color: #d9d8d8;
}

.tabla-estilo tr:hover {
  background-color: rgb(142, 192, 198);
  cursor: pointer;
}

.card {
  border-radius: 20px;
  box-shadow: 10px 22px 50px #1b2631;
  border: 20px solid rgba(255, 255, 255, 0.5);
}

.mybotton {
  margin: 40px;
  display: flex;
  justify-content: center;
}

.boton-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bn632-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.boton-completar {
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: #2980b9;
  color: white;
  border-radius: 4px;
}
.boton-completar:hover {
  background: #2471a3;
}
.boton-completar:active {
  transform: translate(0em, 0.2em);
}

.boton-rechazar {
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: #7f8c8d;
  color: white;
  border-radius: 4px;
}
.boton-rechazar:hover {
  background: #616a6b;
}
.boton-rechazar:active {
  transform: translate(0em, 0.2em);
}

.boton-dar-de-baja {
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: #e74c3c;
  color: white;
  border-radius: 4px;
}
.boton-dar-de-baja:hover {
  background: #b03a2e;
}
.boton-dar-de-baja:active {
  transform: translate(0em, 0.2em);
}

.boton-confirmar {
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: #27ae60;
  color: white;
  border-radius: 4px;
}
.boton-confirmar:hover {
  background: #239b56;
}
.boton-confirmar:active {
  transform: translate(0em, 0.2em);
}

.acciones-bnt {
  display: flex;
  justify-content: space-evenly;
}

.contenedor-bn6 {
  display: flex;
  justify-content: center;
}

.text-h1 {
  display: flex;
  justify-content: center;
}

.titulo-bonito {
  font-family: "Arial", sans-serif; /* Cambia la fuente a tu elección */
  font-size: 1.8rem; /* Tamaño de fuente más grande */
  color: #2ecc71; /* Cambia el color del texto */
  text-transform: uppercase; /* Convierte el texto en mayúsculas */
}

.login-box {
  width: 400px;
  padding: 40px;
  background: rgba(24, 20, 20, 0.987);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box a:hover {
  background: #03f40f;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03f40f, 0 0 25px #03f40f, 0 0 50px #03f40f,
    0 0 100px #03f40f;
}

.login-box a span {
  position: absolute;
  display: block;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(1) {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03f40f);
  animation: btn-anim1 2s linear infinite;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Cambia el color del icono */
}

.label-select {
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
}

select {
  margin: 10px 0 10px;
  background: rgba(24, 20, 20, 0.987);
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  border-radius: 0;
}

.goToTable {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
  transform: rotate(180deg);
}

.svgIcon path {
  fill: white;
}

.goToTable:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(181, 160, 255);
  align-items: center;
}

.goToTable:hover .svgIcon {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(200%);
}

.goToTable::before {
  position: absolute;
  bottom: -20px;
  content: "Ir a Las Tablas";
  color: white;
  /* transition-duration: .3s; */
  font-size: 0px;
}

.goToTable:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
}

.mydict :focus {
  outline: 0;
  border-color: #2260ff;
  box-shadow: 0 0 0 4px #b5c9fc;
}

.mydict div {
  margin: 0 15px 0 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mydict input[type="radio"] {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.mydict input[type="radio"]:checked + span {
  box-shadow: 0 0 0 0.0625em #0043ed;
  background-color: #dee7ff;
  z-index: 1;
  color: #0043ed;
}

.label-bar span {
  font-size: 20px;
  display: block;
  cursor: pointer;
  background-color: #fff;
  padding: 0.375em 0.75em;
  position: relative;
  margin-left: 0.0625em;
  box-shadow: 0 0 0 0.0625em #b5bfd9;
  letter-spacing: 0.05em;
  color: #3e4963;
  text-align: center;
  transition: background-color 0.5s ease;
}

.label-bar:first-child span {
  border-radius: 0.375em 0 0 0.375em;
}

.label-bar:last-child span {
  border-radius: 0 0.375em 0.375em 0;
}

.logout {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}
/* hover effect on button width */
.logout:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.logout:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}
/* hover effect button's text */
.logout:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
/* button click effect*/
.logout:active {
  transform: translate(2px, 2px);
}

.mybotton-conteiner {
  display: flex;
  justify-content: center;
  width: 120px;
}
