<body>
  
<div class="mybotton">
  <br>
  <!-- <p-button class="mybotton" label="Salir" severity="danger"></p-button> -->
 <button (click)="navegar()" class="bn632-hover bn23">Volver a Home</button>
</div>
  
<div class="row">
  <!-- FORM -->
  <div class="col-md-3">
    <div class="card">
      <div class="card-body p-4">
        <!-- FORM -->
        <form [formGroup]="partidoForm" (ngSubmit)="crearPartido()">
          <h1 class="titulo-bonito">Crear Partido</h1>
          <br>
          <input type="hidden" formControlName="id">
          <br>
          <div class="form-group">
            <span style="color: rgb(36, 108, 47);">Elige tu Horario</span>
            <select class="form-select" formControlName="horario">
              <option [ngValue]="null" disabled>Horario</option>
              <option *ngFor="let horario of getHorarios()">{{ horario }}</option>
            </select>
          </div>
          
          
          
        
          <br>
          <div class="form-group" style="width: 250px;">
            <input type="date" formControlName="dia" placeholder="Seleccione la fecha" class="form-control">
          </div>
          <br>
          <div class="form-group" style="width: 250px;">
            <input type="text" formControlName="telefono" placeholder="Ingrese el teléfono" class="form-control">
          </div>
          <br>
          <div class="form-group" style="width: 250px;">
            <input type="text" formControlName="precio" placeholder="Ingrese el precio" class="form-control">
          </div>
          <br>
          <button type="submit" class="bn6">Guardar</button>

        
        </form>
        
      </div>
    </div>

  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body p-4">
        <h1 class="titulo-bonito">Buscar Partido</h1>
        <br>
        <span class="p-input-icon-left">
          <input type="text" placeholder="Ingrese Nro de Telefono" pInputText [(ngModel)]="telefono" /> &nbsp;&nbsp;
          <button type="button" class="btn btn-secondary" (click)="buscarPartido()">Buscar</button>
        </span>
        <!-- <select [(ngModel)]="selectedEstado" class="form-control">
          <option *ngFor="let estado of estadosPartidoArray" [value]="estado.value">{{ estado.label }}</option>
        </select> -->
        

      </div>
    </div>
  </div>
  <h1> &nbsp; </h1>
  <h1> &nbsp; </h1>
  <!-- TABLE -->
  <div class="tabla-container">
    
    <table class="tabla-estilo">
      <thead>
        <th></th>
        <th>Horario</th>
        <th>Día</th>
        <th>Teléfono</th>
        <th>Precio</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let partido of partidoService.partidos">
          <td>  
            <button type="button" class="bn6" (click)="confirmarPartido()">Confirmar Partido</button>
          </td>
          <td>
            <button type="button" class="bn6" (click)="completar()">Confirmar Partido</button>
          </td>
          <td>{{ partido.horario }}</td>
          <td>{{ partido.dia | date:'shortDate' }}</td>
          <td>{{ partido.telefono }}</td>
          <td>{{ partido.precio }}</td>
          <td>{{ getNombreEstado(partido.estado) }}</td>
          <td>
            <br>
            <a (click)="rechazarPartido(partido.id.toString())" class="btn btn-danger btn-sm">
              <i class="material-icons">delete</i>
            </a>
          </td>
          <td>
           
            <button (click)="darDeBaja(partido.id.toString())" class="btn btn-warning btn-sm">
              Dar de Baja
            </button>
          </td>
        </tr>
        
        
      </tbody>
    </table>
  </div>
</div>
<div class="paginator-container">
  <mat-paginator class="mat-paginator" [pageSizeOptions]="[5, 10, 20, 50]"
    [pageSize]="pageSize" [pageIndex]="pageIndex" [length]="partidos.length"
    (page)="onPageChange($event)"></mat-paginator>
</div>
<div class="boton-container">
  <button class="boton-personalizado" style="border-bottom-left-radius: 10px;" (click)="goToFirstPage()">
    <i class="fa fa-angle-double-left"></i>
  </button>
  <button class="boton-personalizado" style="border-bottom-right-radius: 10px;" (click)="goToLastPage()">
    <i class="fa fa-angle-double-right"></i>
  </button>
</div>

<br>

</body>